---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}



{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}


{% comment %}
{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='7' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->

<div class="row">
<h1>Staff</h1>   
{% comment %}
<div class="grid-container">
<div class="grid-x grid-padding-x medium-unstack">
    {% for staff in site.staff %}
    <div class="cell small-2 card staff-tile">
        <div class="card-section">
            <a href="{{ site.url }}{{ site.baseurl }}{{ staff.url }}">
                <img src='images/staff/{% if staff.staffimage %}{{ staff.staffimage }}{% else %}dummy.png{% endif %}'>
                <h4>{{ staff.name }}</h4>
                {% if staff.position %}<p>{{ staff.position }}</p>{% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
</div></div>
{% endcomment %}

<div class="row b60">
    <ul class="small-block-grid-4 medium-block-grid-6">
{% for staff in site.staff %}
        <li class="staff"><div class="card staff-tile">
        <div class="card-section">
            <a href="{{ staff.url }}">
                <img src='images/staff/{% if staff.staffimage %}{{ staff.staffimage }}{% else %}dummy.png{% endif %}'>
                <h4>{{ staff.name }}</h4>
                {% if staff.position %}<p>{{ staff.position }}</p>{% endif %}
            </a>
        </div>
        </div>
        </li>
{% endfor %}
    </ul>
</div>



<div class="row t60">
<h1>Some of our software frameworks</h1>
    {% if page.widget1.image or page.widget1.video or page.widget1.title %}
        {% include _frontpage-widget.html widget=page.widget1 %}
    {% endif %}

    {% if page.widget2.image or page.widget2.video or page.widget2.title %}
        {% include _frontpage-widget.html widget=page.widget2 %}
    {% endif %}

    {% if page.widget3.image or page.widget3.video or page.widget3.title %}
        {% include _frontpage-widget.html widget=page.widget3 %}
    {% endif %}
</div><!-- /.row -->

<div class="row t60">
<h1>Publications</h1>
{% include publications start=2018 %}

</div><!-- /.row -->
